<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/yusukesnap/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/yusukesnap/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/yusukesnap/bootstrap/css/bootstrap-responsive.css') }}"
    {% endblock stylesheets %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javasctipt" src="{{ asset('bundles/yusukesnap/bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>