#Global Symfony
/.idea/
/web/bundles
/web/img/model/original/*
/web/img/model/thumbnail/*
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/

#Global
*.swp
*.swo
*.swn
