body {
    background-color: white;
    padding-top: 40px;
}
.content {
    background-color: #fff;
    padding: 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 24px;
}

