parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: symfony
    database_user: root
    database_password: null

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt

    #List Controller
    snaplist_limit: 12
    amazon_s3:      http://snap.boloapp.jp/snap/thumbnail/

knp_paginator:
    page_range: 15                      # default page range used in pagination control