{% extends 'YusukeSnapBundle::base.html.twig' %}
{% block content %}
    <div class="paginator">{{ knp_pagination_render(Models) }}</div>
    <br>
    {% for Model in Models %}
        {% if Model.pic1 is defined %}
            <a href="{{ path('model', {'modelId': Model.id}) }}"><img class ="snap-list" src="{{ Model.pic1 }}"></a>
        {% endif %}
    {% endfor %}
    <div class="paginator">{{ knp_pagination_render(Models) }}</div>
    <hr>

{% endblock %}